<h1 style="text-align: center">
  Попытки сделать коммуникацию между микросервисами
</h1>
<button><a routerLink="login">жмяк переход на login</a></button>
<button><a routerLink="todo">жмяк переход на todo</a></button>
<a routerLink="loginn"><button>переход на логин mptool</button></a>
<a routerLink="restore"><button>переход на restore mptool</button></a>
<a routerLink="sign-up"><button>переход на sign-up mptool</button></a>
<a routerLink="politics"><button>переход на politics mptool</button></a>


<router-outlet></router-outlet>
