<div class="homepage-container">
<img class="welcome-logo" src="../../assets/img/logoHomePage.svg" alt="">
<h3 class="welcome">Добро пожаловать в сервис продвижения <br>
  на маркетплейсах MpTool</h3>
<h2 class="redirec-to-mp">Перейдите на маркетплейс который вам нужен:</h2>
<div class="mp-cards">
<a tuiLink routerLink="wildberries"><button class="mp-btn" tuiButton>Wildberries</button></a>
<a routerLink="avito"><button class="mp-btn" tuiButton>Авито</button></a>
<a routerLink="ozon"><button class="mp-btn" tuiButton>Ozon</button></a>
<a routerLink="ozon"><button class="mp-btn" tuiButton>Яндекс.Маркет</button></a>
<a routerLink="ozon"><button class="mp-btn" tuiButton>Kaspi</button></a>
</div>
<a class="support-link" tuiLink href="https://t.me/annamptool_support" target="_blank">Связаться с поддержкой</a>
</div>